.container {
    margin: 0 auto;
    max-width: 960px;
}

.header {
    margin: 50px 0 50px 20px;
    text-align: center;
    color: rgba(19, 2, 70);
}

.logo {
    display: block;
    margin: 0 auto;
    width: 40px;
    color: rgba(19, 2, 70);
    opacity: 0.4;
}

.main {
    margin-left: 20px;
}

.footer {
    font-family: "Bellota Text", sans-serif;
    font-weight: 300;
    font-size: 12px;
    opacity: 0.7;
    text-align: center;
    margin-top: 40px;
    margin-left: 20px;
    color: rgb(19, 2, 70);
}

.author-link, .git-link, .author-link:hover a, a .git-link:hover, a .author-link:visited, a .git-link:visited {
    color: rgb(19, 2, 70);
    opacity: 1.0;
    text-decoration: none;
}

h1 {
    font-size: 20px;
    font-weight: 600;
    font-family: "Baskervville", serif;
    color: rgb(19, 2, 70);
}