.search-box {
    font-family: "Bellota Text", sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: #0F172B;
    opacity: 0.8;
    padding: 5px 10px;
    border-radius: 4px;
    border-width: 1px;
    display: block;
    width: 80%;
    margin: 0 auto;
    background-color: rgba(143, 143, 143, 0.4);
}